<h1>Descriptions</h1>
<em> See: https://www.alphavantage.co/documentation/ </em>
<section class="spacing">
  <h3>SMA</h3>
  <ul>
    <li>Simple moving average (SMA) calculates the average of a selected range of prices, usually closing prices, by the number of periods in that range.</li>
    <li>The SMA is a technical indicator that can aid in determining if an asset price will continue or reverse a bull or bear trend.</li>
    <li>The SMA can be enhanced as an exponential moving average (EMA) that more heavily weights recent price action.</li>
  </ul>
  <em>For more info see: https://www.investopedia.com/terms/s/sma.asp</em>
  <h5>API call requirements</h5>
  <div>
  <em class="header-color">Required: function</em>
  <div>The technical indicator of your choice. In this case, function=SMA</div>

  <em class="header-color">Required: symbol</em>
  <div>The name of the security of your choice. For example: symbol=IBM</div>

  <em class="header-color">Required: interval</em>
  <div>Time interval between two consecutive data points in the time series. The following values are supported: 1min, 5min, 15min, 30min, 60min, daily, weekly, monthly</div>

  <em class="header-color">Required:time_period</em>
  <div>Number of data points used to calculate each moving average value. Positive integers are accepted (e.g., time_period=60, time_period=200)</div>

  <em class="header-color">Required: series_type</em>
  <div>The desired price type in the time series. Four types are supported: close, open, high, low</div>
    </div>
</section>

<section class="spacing">
  <h3>EMA</h3>
  <ul>
    <li>A simple moving average (SMA) calculates the average of a selected range of prices, usually closing prices, by the number of periods in that range.</li>
    <li>The SMA is a technical indicator that can aid in determining if an asset price will continue or reverse a bull or bear trend.</li>
    <li>The SMA can be enhanced as an exponential moving average (EMA) that more heavily weights recent price action.</li>
  </ul>
  <em>For more info see: https://www.investopedia.com/terms/e/ema.asp  </em>
  <h5>API call requirements</h5>
  <em>Required: function</em>
  <div>The technical indicator of your choice. In this case, function=SMA</div>

  <em>Required: symbol</em>
  <div>The name of the security of your choice. For example: symbol=IBM</div>

  <em>Required: interval</em>
  <div>Time interval between two consecutive data points in the time series. The following values are supported: 1min, 5min, 15min, 30min, 60min, daily, weekly, monthly</div>

  <em>Required:time_period</em>
  <div>Number of data points used to calculate each moving average value. Positive integers are accepted (e.g., time_period=60, time_period=200)</div>

  <em>Required: series_type</em>
  <div>The desired price type in the time series. Four types are supported: close, open, high, low</div>
</section>

<section class="spacing">
  <h3>VWAP</h3>
  <ul>
    <li> The volume weighted average price (VWAP) appears as a single line on intraday charts (1 minute, 15 minute, and so on), similar to how a moving average looks.</li>
    <li>Retail and professional traders may use the VWAP as part of their trading rules for determining intraday trends.</li>
  </ul>
  <em>For more info see: https://www.investopedia.com/terms/v/vwap.asp  </em>
  <h5>API call requirements</h5>
  <em>Required: function</em>
  <div>The technical indicator of your choice. In this case, function=SMA</div>

  <em>Required: symbol</em>
  <div>The name of the security of your choice. For example: symbol=IBM</div>

  <em>Required: interval</em>
  <div>Time interval between two consecutive data points in the time series. The following values are supported: 1min, 5min, 15min, 30min, 60min, daily, weekly, monthly</div>
</section>

<section class="spacing">
  <h3>RSI</h3>
  <ul>
    <li> In finance, the Relative Strength Index (RSI) is a type of momentum indicator that looks at the pace of recent price changes so as to determine whether a stock is ripe for a rally or a selloff.</li>
    <li> The RSI is used by market statisticians and traders, in addition to other technical indicators as a means of identifying opportunities to enter or exit a position.</li>
    <li>Generally, when the RSI surpasses the horizontal 30 reference level, it is a bullish sign and when it slides below the horizontal 70 reference level, it is a bearish sign.</li>
  </ul>
  <em>For more info see: https://www.investopedia.com/articles/active-trading/042114/overbought-or-oversold-use-relative-strength-index-find-out.asp </em>
  <h5>API call requirements</h5>
  <em>Required: function</em>
  <div>The technical indicator of your choice. In this case, function=SMA</div>

  <em>Required: symbol</em>
  <div>The name of the security of your choice. For example: symbol=IBM</div>

  <em>Required: interval</em>
  <div>Time interval between two consecutive data points in the time series. The following values are supported: 1min, 5min, 15min, 30min, 60min, daily, weekly, monthly</div>

  <em>Required:time_period</em>
  <div>Number of data points used to calculate each moving average value. Positive integers are accepted (e.g., time_period=60, time_period=200)</div>

  <em>Required: series_type</em>
  <div>The desired price type in the time series. Four types are supported: close, open, high, low</div>
</section>

<section class="spacing">
  <h3>MACD</h3>
  <ul>
    <li>Moving Average Convergence Divergence (MACD) is a trend-following momentum indicator that shows the relationship between two moving averages of a security’s price.</li>
    <li>Traders use the MACD to identify when bullish or bearish momentum is high in order to identify entry and exit points for trades.</li>
    <li>MACD is used by technical traders in stocks, bonds, commodities, and FX markets.</li>
  </ul>
  <em>For more info see: https://www.investopedia.com/articles/forex/05/macddiverge.asp </em>
  <h5>API call requirements</h5>
  <em>Required: function</em>
  <div>The technical indicator of your choice. In this case, function=SMA</div>

  <em>Required: symbol</em>
  <div>The name of the security of your choice. For example: symbol=IBM</div>

  <em>Required: interval</em>
  <div>Time interval between two consecutive data points in the time series. The following values are supported: 1min, 5min, 15min, 30min, 60min, daily, weekly, monthly</div>

  <em>Required: series_type</em>
  <div>The desired price type in the time series. Four types are supported: close, open, high, low</div>
</section>
